.formulario{
    max-width: 60rem;
    margin: 0 auto;
}

.formulario fieldset{
    border: 1px #000 solid;
    margin-bottom: 2rem;
}

.formulario legend{
    background-color: #005485;
    width: 100%;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    padding: 1rem;
    margin-bottom: 4rem;
}

.campo{
    display: flex;
    margin-bottom: 2rem;
}

.campo label{
    flex-basis: 10rem ;
}

.campo input:not([type="radio"]),
select,
.campo textarea{
    flex: 1;
    border: 1px solid #e1e1e1;
    padding: 1rem;
}

.campo select{
    text-align: center;
}